mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
  margin-bottom: 20px;
}

.image-Preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-Preview img {
  height: 100%;
}
